/*-------------------- section made ------------------------*/
.section_made {
    margin-top: var(--margin-top-two);
}

.subsection_made {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.made {
    width: max-content;
    padding: 0px 50px 0px 50px;
}

.made :nth-child(1) {
    font-family: var(--font-two), var(--font-four);
    text-transform: uppercase;
    font-size: 55px;
    color: var(--color-secundary-light);
    width: max-content;
}

.made :nth-child(2) {
    font-family: var(--font-one), var(--font-four);
    font-size: 60px;
    width: max-content;
}

.text {
    max-width: 500px;
    font-family: var(--font-three), var(--font-four);
    font-size: 20px;
    text-align: left;
}

@media (min-width: 750px) and (max-width: 999px) {
    .text {
        margin: 0 30px 0 0px;
    }
}

@media (max-width: 750px) {
    .subsection_made {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .text {
        margin: 0 20px 0 20px;
        font-family: var(--font-three), var(--font-four);
        font-size: 20px;
        text-align: center;
    }
}