.home {
    display: flex;
    flex-direction: column;
    /* MEDIDAS de HOME debido a position absolute */
    /* variable que indica ubicación y medidas carousel 
    y todas las secciones subsiguientes
    */
    --top-carousel: 100px;
    --height-carousel: 500px;

    /* la ubicación de las flechas, es la mitad de la altura del carousel
    menos la mitad de la altura de la flecha
    */
    --ubication-arrows: 225px;

    /* debe sumarse los dos anteriores para obtener este
  con este margen ya todos las demás secciones
   se ubican debajo
  */
    --margin-top-made: 500px;
}

/* --------section caroussel------------------ */
.section_caroussel {
    /* produce la ubicación del carousel posicionado de acuerdo al navbar */
    z-index: 1;
    position: absolute;
    top: var(--top-carousel);
    width: 100vw;
    height: var(--height-carousel);
}

.circlesPosition {
    position: absolute;
    bottom: 40px;
    left: 100px;
}

.circles {
    display: flex;
    flex-direction: row;
}


.circleCaroussel {
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: var(--color-primary-light);
    border-radius: 50px;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}

.circleCarousselActive {
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: var(--color-quintary-light);
    border-radius: 50px;
    box-shadow: inset 1px 1px 10px var(--color-primary-light);

    cursor: pointer;
}



.decorationBackground {
    /* se agrega la decoración y permite posicionar sus elementos internos */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(90deg,
            var(--color-secundary-light) 0 50px,
            var(--color-tertiary-light) 40px 90px);
    /* mejorar la ondulación y hacerla más suave, tengo que poner
     los centros de los círculos más corridos
    puedo hacer un creador de css propio para esto
    */
    --mask:
        radial-gradient(6px at 25% 0, #0000 98%, #000) 50% 6px/24px 51% repeat-x,
        radial-gradient(6px at 75% 50%, #000 99%, #0000 101%) top/24px 12px repeat-x,
        radial-gradient(6px at 75% 100%, #0000 98%, #000) calc(50% + 12px) calc(100% - 6px)/24px 51% repeat-x,
        radial-gradient(6px at 25% 50%, #000 99%, #0000 101%) calc(50% + 12px) 100%/24px 12px repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.flechaDerecha {
    position: absolute;
    top: var(--ubication-arrows);
    right: 30px;
    width: 50px;

    cursor: pointer;
}

.flechaIzquierda {
    position: absolute;
    top: var(--ubication-arrows);
    left: 30px;
    width: 50px;
    transform: rotate(180deg);

    cursor: pointer;
}

.textCaroussel {
    width: 400px;
    margin-left: 100px;
    font-family: Sacramento, sans-serif;
    font-size: 60px;
    color: var(--color-text-secundary-light);
}

.imageCaroussel {
    max-height: 500px;
    margin-right: 100px;
}

/*------------- section made -------------*/
.section_made {
    margin-top: var(--margin-top-made);
}

.subsection_made {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.made {
    width: max-content;
    padding: 0px 50px 0px 50px;
}

.made :nth-child(1) {
    font-family: Afacad, sans-serif;
    text-transform: uppercase;
    font-size: 55px;
    color: var(--color-secundary-light);
    width: max-content;

}

.made :nth-child(2) {
    font-family: Sacramento, sans-serif;
    font-size: 60px;
    width: max-content;
}

.text {
    max-width: 500px;
    font-family: Poiret One, sans-serif;
    font-size: 20px;
}

/* ------------section Information----------------- */

.section_information {
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;

}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    padding: 10px;
    /* background-color: var(--color-quaternary-light); */
    box-shadow: 1px 1px 5px var(--color-primary-light);

}

.odd_card {
    background-color: var(--color-quintary-light);
}

.even_card {
    background-color: var(--color-secundary-light);
}

.circle_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.odd_circle {
    background-color: var(--color-secundary-light);
}

.even_circle {
    background-color: var(--color-quintary-light);
}

.imageCard {
    width: 100px;
}

.name {
    font-family: Sacramento, sans-serif;
    font-size: 40px;

}

.odd_name {
    color: var(--color-secundary-light);
}

.even_name {
    color: var(--color-quintary-light);
}

.information {
    font-family: Poiret One, sans-serif;
    font-size: 17px;
}

.odd_info {
    color: var(--color-text-primary-light);
}

.even_info {
    color: var(--color-text-secundary-light);
}

.read_more {
    margin: 10px;
    padding: 10px 30px 10px 30px;

    font-family: Poiret One, sans-serif;
    font-size: 17px;
    font-weight: bold;


    cursor: pointer;
}

.odd_read {
    background-color: var(--color-secundary-light);
    color: var(--color-text-secundary-light);
}

.even_read {
    background-color: var(--color-quintary-light);
    color: var(--color-secundary-light);
}

/* -------------------section team ------------------- */
.section_team {

    width: 100vw;
    height: 600px;
    background-image: url("../../../public/images/products/pan-dulce3.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: -20px;
}

.container_team {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    ;
}

.body_team {
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
}

.titulo_team {
    font-family: Sacramento, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: var(--color-tertiary-light);
    margin: 50px;
}

.info_team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_team {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border-color: var(--color-secundary-light);
    border-width: 6px;
    border-style: solid;
}

.name_team {
    font-family: Afacad, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: var(--color-quintary-light);
}

.detail_team {
    font-family: Poiret One, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--color-quaternary-light);
}