.news {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-top-two);
    font-family: var(--font-one);
    font-size: 50px;
}

.decoration_background {
    z-index: 1;
    position: absolute;
    top: var(--top-first);
    width: 100%;
    height: var(--height-top-contact);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: var(--decoration-linear);
    -webkit-mask: var(--decoration-border-mask);
    mask: var(--decoration-border-mask);
}

.intro {
    padding: 50px 30px 0px 30px;
    font-family: var(--font-one);
    font-size: 50px;
    color: var(--color-text-secundary-light)
}

@media (max-width: 750px) {
    .intro {
        font-size: 40px;
    }
}