.footer {
    width: 100vw;
    height: 300px;

    background-image: var(--decoration-linear);
    -webkit-mask: var(--decoration-border-footer-mask);
    mask: var(--decoration-border-footer-mask);
}

.container_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.contact_footer {
    margin-top: 50px;
    font-family: var(--font-three), var(--font-four);
    font-size: 25px;
    color: var(--color-text-secundary-light);
}

.container_contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.contact_team {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container_team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.one_team {
    color: var(--color-text-secundary-light);
    font-family: var(--font-two), var(--font-four);
    font-size: 20px;
}

.two_team {
    color: var(--color-text-secundary-light);
    font-family: var(--font-two), var(--font-four);
    font-size: 20px;
}


.instagram {
    height: 30px;
}

.whatsapp {
    height: 40px;
}

.linea_footer {
    width: 100%;
    height: 4px;
    background-color: var(--color-quintary-light);
}

.data {
    margin-top: 10px;
    color: var(--color-text-secundary-light);
    font-family: var(--font-two), var(--font-four);
    font-size: 20px;
}

.triangle {
    position: relative;
    z-index: 1;
    width: 60px;
    height: 30px;
    background-color: var(--color-quintary-light);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.arrow_footer {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 21px;
    height: 18px;
    transform: rotate(-90deg);
}

@media (max-width: 750px) {
    .footer {
        height: 600px;
    }

    .contact_footer {
        text-align: center;
        font-size: 25px;
        color: var(--color-text-secundary-light);
        margin-left: 20px;
        margin-right: 20px;
    }

    .contact_team {
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .data {
        text-align: center;
        font-family: var(--font-two), var(--font-four);
    }

}