* {
  margin: 0;
  padding: 0;
}


html {
  /* variables globales */
  /* color */
  --color-primary-light: #f25e80;
  --color-secundary-light: #d9818d;
  --color-tertiary-light: #e6b5bb;
  --color-quaternary-light: #e3a7af;
  --color-quintary-light: #ffffff;
  --color-text-primary-light: black;
  --color-text-secundary-light: white;
  /* font family */
  --font-one: Sacramento;
  --font-two: Afacad;
  --font-three: Poiret One;
  --font-four: sans-serif;

  /* MEDIDAS de HOME debido a position absolute */
  /* variable que indica ubicación y medidas carousel 
    y todas las secciones subsiguientes
    */
  --top-first: 100px;
  --height-carousel: 500px;

  /* la ubicación de las flechas, es la mitad de la altura del carousel
    menos la mitad de la altura de la flecha
    */
  --ubication-arrows: 225px;

  /* debe sumarse los dos anteriores para obtener este
  con este margen ya todos las demás secciones
   se ubican debajo
  */
  --margin-top-two: 650px;

  /* sección contactos */
  --height-top-contact: 300px;
  /* para el formulario */
  --margin-top-contact: 400px
}